* {
    font-family: 'Roboto', sans-serif; 
}

.navupdate{
background-color: black;
}

.griot{
    color: white;
}

.tag{
    color: white;
}
.container{
    border: 2px solid grey;
    margin: 30px 30px;
}
.April2020{
    background-color: lightgray;
    text-align: left;
}

.content{
    text-align: center;
}
.button{
    float: right;
}

.read{
    background-color: orange;
    color: white;
}

.button2{
    float: right;
}

.button3{
    float: right;
}

.button4{
    float: right;
}